@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.page{
    width: 100%;
}

.textform{
    font-family: "Poppins", serif;
    line-height: 28px;
}
.titeln{
    font-family: "Roboto", serif;
}
.lankar{
    color: inherit;
    font-weight: bold;
}
.lank{
    text-decoration: none;
color: inherit;
margin-right: 1rem;
font-size: 1.6rem;
}
.tjansterRoot{
    height: 490px;
    width: 320px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
 margin-right: 1em;
 background: white;
 border-radius: 5px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
}

.footerCm{
height: 100%;
background: #32de84;
}

.classic{
    display: flex;
    justify-content: space-evenly;
}

@media (min-width: 600px) {
.heroMain{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.textform{
    max-width: 500px;
}
.hogerMain{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.svg{
    display: none;
}
}


@media (max-width: 600px) {
    .textform{
        max-width: 90%;
        text-align: center;

    }
    .titeln{
        max-width: 90%;
        text-align: center;
    }
    .heroImg{
        display: none;
    }
    .heroMain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
    }
    .social{
        text-align: center;
    }
    .classic{
        flex-direction: column;
    }
    }
    